
/*!
 * ButterBowl v1 
 * Copyright 2018 The Butter Bowl Website Author
 * Licensed MIT 
 */
 
/* CSS TABLE OF CONTENTS 
 - General
 - Header    
 - Typography     
 - Footer     
*/

/* - General Style  //---------------- */
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i,800');

/* - General Style //---------------- */ 

::-moz-selection {
 background-color: #ff3030;
 color: #FFF;
}
::selection {
	background-color: #ff3030;
	color: #FFF;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	line-height: 24px;
	color: #666666;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.container {
	padding-left: 0;
	padding-right: 0;
}
img {
	height: auto;
	max-width: 100%;
	border: none;
	outline: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
a, a:focus, a:active, a:link, img {
	outline: none;
	text-decoration: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #6d6d6d;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
a:hover {
	color: #ff3030;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
}
.position-r {
	position: relative;
	display: flex;
}
@media (max-width: 900px) {
	.position-r { 
		position: relative;
		display: block;
	}
}
.position-initial {
	position: initial;
}

body {
	line-height: 24px;
	color: #666666;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.butterBowl-center {
	 margin: auto;
	 text-align: center;
}
.position-r {
	position: relative;
}
.mobile-hidden {
    display: none;
}


.right-side {
	float: right;
}
