/* 
 * 	Resp CSS File
 *	v1.0
 */

/* clearfix */

@media (min-width: 1770px) {
    .container {
        width: 1740px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1769px) {
    .container {
        width: 1170px;
        max-width: 100%;
    }

    .col-lgmd-20per {
        max-width: 20%;
        flex: 0 0 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lgmd-60per {
        max-width: 60%;
        flex: 0 0 60%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

	.header-bottom {
		height: 50px;
	}

	.mobilemenu-content li a {
		padding: 15px 16px;
	}

	.btn-sidebar-menu-dropdown {
		padding: 15px;
	}

	.header-bottom .help-num {
		padding: 13px 0;
	}

    .butterBowl-banner {
    	margin-bottom: -1px;
    }

    .butterBowl-banner-detail {
    	left: 0%
    }
} 

@media (max-width: 1280px) {

.container {
	max-width: 100%;
}

}

 @media (max-width: 1199px) {
.container {
	padding: 0 15px;
}

/* Header */

.header-bottom {
	height: 50px;
}

.mobilemenu-content li a {
	padding: 15px 7px;
}

.btn-sidebar-menu-dropdown {
	padding: 15px;
}

.header-bottom .help-num {
	padding: 13px 0;
}

/* Column */

.butterBowl-banner-detail {
	top:20%;
	left: 0;
}
.butterBowl-banner-detail .banner-detail-inner span.offer {
    font-size: 25px;
    margin-top: 0;
}
.butterBowl-banner-detail .banner-detail-inner span.slogan {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px 0;
}

}

 @media (min-width: 992px) {

.mobilemenu-content {
  	display: block !important;
}

}
 @media only screen and (min-width: 992px) and (max-width: 1199px) {

	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 991px) {


nav.butterBowl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.butterBowl-container {
  padding: 0px;
  margin: 0px;
  min-width: 97%;
}

/* Header */

.navbar-nav > li.dropdown > a:after {
    display: none;
}

.header-bottom {
	height: 48px;
}

.header-bottom .help-num {
    color: #ffffff;
    display: none;
    padding: 13px 0;
}
.navbar-nav > li > a {
	padding: 8px 18px;
}

.navbar-nav > li {
	float: none;
}

#menu-main > li:hover, .navbar-nav li.active {
	background: none;
}

.mobilemenu-content .sub-menu-level2 li.level3 > a {
	color: #fff !important;
}

.mobilemenu-content .sub-menu-level2 li.level3 > a:hover{
	color: #fff !important;
}

#menu-main > li:hover {
    background: none;
}

.navbar-nav > li > a {
	padding-left: 0px;
}

.sidebar-menu-dropdown {
    width: 0;
    display: block;
    padding: 0;
}

.btn-sidebar-menu-dropdown {
    display: none;
}

/* Menu */

#menu-main .level {
    position: relative;
}

#menu-main .mobile-sub-menu {
	display:none;
}

#menu-main span.opener {
    background:url(../images/sprite.png) no-repeat scroll 0 0; 
    height: 25px; 
    width: 25px; 
    display: inline-block; 
    position: absolute; 
    right: 10px;
    top: 7px;
    cursor:pointer;
    z-index: 1;
}
#menu-main span.plus {
	background-position: -117px -378px;
}
.nav > li:hover {
	overflow: hidden;
}
.megamenu {
	background-color: transparent;
	border-top: none;
	position: relative;
	left: auto;
	top: auto;
	opacity: 1;
	padding: 0px 30px;
	transition: none 0s ease 0s;
	-moz-transition: none 0s ease 0s;
	-webkit-transition: none 0s ease 0s;
	-o-transition: none 0s ease 0s;
}
.megamenu .sub-menu-level1 li.level2 {
	float: none;
	margin-bottom: 0px;
}
.megamenu .megamenu-inner-top .level2 {
	margin-bottom: 15px;
}

.megamenu {
	box-shadow: none;
}

.mobilemenu-content .navbar-nav li:last-child {
	border: none;
}

.mobilemenu-content ul li.level3 {
    border: medium none;
}

.mobilemenu-title.mobilemenu > span {
    display: inline-block;
    font-weight: 500;
    padding: 8px 0 0 10px;
    text-transform: uppercase;
}

.mobilemenu-title {
    display: block;
}

.mobilemenu {
  	color: #fff;
  	cursor: pointer;
  	display: inline-block;
  	font-size: 16px;
  	padding: 4px 5px;
  	top: 100px;
  	width: 100%;
  	border-radius: 5px;
    z-index: 9999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.mobilemenu-title .fa {
  	font-size: 18px;
	height: 37px;
  	margin: 0;
  	padding: 10px;
  	width: 37px;
}

.mobilemenu-content {
  	background: #ef5252;
  	transition: none 0s ease 0s ;
  	width: 100%;
  	position: absolute;
  	z-index: 9999;
  	display: none;
}

.mobilemenu-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mobilemenu-content ul li {
  	border-bottom: 1px solid #ff7070;
  	float: left;
  	width: 100%;
}

.mobilemenu-content ul li a {
  	display: inline-block;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 24px;
  	padding: 5px 15px;
  	width: 100%;
}

#menu-main > li > a span::before {
	display: none;
}

/* content */


.butterBowl-banner-detail {
	top: 8%;
} 

.butterBowl-banner-detail .banner-detail-inner span.slogan {
    font-size: 20px;
}

.slogan:before {
	width: 30px;
}

.slogan:after {
	width: 30px;
}
.butterBowl-banner-detail .banner-detail-inner span.offer {
    font-size: 18px;
    margin-top: 0;
}

.butterBowl-banner-detail a.btn {
    display: block;
}

.butterBowl-banner-detail a.btn {
    font-size: 20px;
    margin-top: 12px;
    max-width: 10rem;
    margin: auto;
}
/* Footer */

/*About page*/

/* News-letter PopUp */
	
}
@media (max-width: 767px) {
.float-left-xs {
	float: left !important;
}

.butterBowl-image-container {
  width: 70%;
  text-align: center;
  margin: auto;
}

.site-link {
    text-align: center;
}
/* Header */

.header-right-link {
	position: absolute;
    right: 15px;
    top: -122px;
}

/* Content */
.butterBowl-banner-detail .banner-detail-inner .butterBowl-banner-title {
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 0;
}


.butterBowl-banner-detail a.btn {
    display: block;
}

/* News-letter PopUp */
}
@media (max-width: 600px) {
/* Header */

.butterBowl-banner-detail .banner-detail-inner span.slogan {
	font-size: 16px;
}

.butterBowl-banner-detail a.btn {
	display: block;
}
}


 @media (max-width: 500px) {


.butterBowl-banner-detail .banner-detail-inner span.offer {
	font-weight: 400;
	font-size: 15px;
}


}
 @media (max-width: 419px) {

.header-right-link {
    top: -120px;
}


/* Header */

.butterBowl-banner-detail .banner-detail-inner .butterBowl-banner-title {
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 5px;
}
.butterBowl-banner-detail .banner-detail-inner span.offer {
	display: none;
}
.butterBowl-banner-detail .banner-detail-inner span.slogan {
	font-size: 12px;
    padding: 0;
}


}