
/* ------//  Button Style  //------ */
.btn {
	padding: 13px 20px;
	font-size: 16px;
	line-height: 16px;
	border: none;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
}

.btn-color {
	color: #fff !important;
	background: #e79327; /* - sass variable button color */ 
}

.btn-sidebar-menu-dropdown {
    display: inline-block;
    color: #fff !important;
    background-color: #ff3030;
    text-transform: uppercase;
    font-weight: 600;
    padding: 18px 15px;
	font-size: 15px;
	text-align: center;
    line-height: 20px;
    width: 100%;
}

.btn-sidebar-menu-dropdown:hover, 
.btn-sidebar-menu-dropdown:focus, 
.btn-sidebar-menu-dropdown:active {
    color: #fff !important;
}

/* - Form Style */
* {
	outline: none !important;
}
