/* ------//  Images Style  //------ */
.butterBowl-img {
	width: 100%;
}

@media (max-width: 900px) { 
	.butterBowl-img {
		width: 150%;
	}	
}

/* - Header Style  //---------------- */

.butterBowl-logo {
    text-align: center;
}

h1 {
	color: #1b2839;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h1 {
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 40px;
}

.header-bottom {
    background: #1b2839;
    display: inline-flex;
    height: 56px;
    width: 100%
}

@media (max-width: 1199px) { 
	.header-bottom {
		 display: block;
	}	
}

.header-bottom .help-num {
    color: #ffffff;
    padding: 15px 0;
}

.nav.navbar-nav {
	display: block;
}

.navbar {
    padding: 0px;
}

/* Navigation Menu Style */

.navbar-nav > li > a {
	padding: 54px 18px;
	font-weight: 500;
	color: #1b2839;
}

.nav > li {
	position: inherit;
}

.navbar-nav > li.dropdown > a::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
    border-style: solid;
    border-width: 11px;
    bottom: 0;
    content: "";
    left: auto;
    right: auto;
    z-index: 9999;
    margin-left: -122px;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.4s ease 0s;
}

.navbar-nav > li.dropdown:hover > a::after {
    opacity: 1;
}

.sidebar-menu-dropdown {
    width: 100%;
}

.nav.navbar-nav {
	display: block;
}

.mobilemenu-title {
    display: none;
}

.mobilemenu-content {
    z-index: 9999;
}

.mobilemenu-content li.menu-item {
    display: inline-block;
}

.mobilemenu-content li a {
    background-color: transparent !important;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 18px 20px;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
}


.mobilemenu-content li a:hover {
	color: grey !important;
}

.mobilemenu-content li a.dropdown-item {
    background-color: transparent !important;
    color: #666 ;
    display: block;
    padding: 3px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 0rem;
}

.dropdown-menu > .nav-item:hover {
    background-color:rgb(210, 0, 0);
    color: #fff;
}
.dropdown-menu > .nav-item:hover > a.dropdown-item {
    color: #fff !important;
}

.mobilemenu-content .megamenu li a {
    font-size: 14px;
    text-transform: inherit;
    font-weight: 400;
}

#menu-main > li > a span {
	position: relative;
}

#menu-main > li > a span:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition: -moz-transform 1s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; 
}
  #menu-main > li:hover > a span:before, #menu-main li.active a span:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%; 
}

.butterBowl-menu-mobile {
    padding-left: 2rem;
}

.butterBowl-menu-mobile .level3 {
    list-style: none;
}

/* --- Megamenu Style --- */

#menu-main .level3 {
	width: 100%;
}

.megamenu {
	background: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	color: #a4a4a4;
	display: none; 
	padding: 20px 30px;
	position: absolute;
	top: 100%;
	z-index: 2;
	left: 0;
}

.menu-item:hover > .dropdown-menu {
    display: grid;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff
}

.dropdown-menu {
    background: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	color: #a4a4a4; 
	padding: 20px 30px;
	position: absolute;
	top: 95%;
	z-index: 2;
    left: auto;
    border-radius: 0px;
    border: none;
}
.nav > li.level:hover .megamenu {
	display: block;
}
.nav-item {
    padding-left: .9rem;
    padding-right: .9rem;
}

.megamenu-inner-top {
    display: inline-block;
    width: 100%;
}
.megamenu .sub-menu-level1 li.level2 {
	float: left;
	min-width: 200px;
}
.megamenu .sub-menu-level2 li.level3 > a {
	color: #666666 !important;
	display: inline-block;
	padding: 3px 0;
}
.megamenu .sub-menu-level2 li.level3 > a:hover {
	color: #ff3030 !important;
}
.megamenu .sub-menu-level2 li.level3 > a span {
	float: left;
	font-size: 9px;
	margin-right: 9px;
	margin-top: -1px;
}
.megamenu .sub-menu-level1 li.level2:last-child {
    min-width: 170px;
}
.mobilemenu-content .navbar-nav li:last-child {
    position: relative;
}

/* ------//  Banner Style  //------ */

.butterBowl-banner {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
}

.butterBowl-banner .btn {
	padding: 13px 30px;
	font-size: 20px;
	text-transform: uppercase;
} 

.butterBowl-banner-detail {
    position: absolute;
    top: 30%;
    width: 100%;
}

.butterBowl-banner-detail .banner-detail-inner {
	color: #fff;
	margin-bottom: 20px;
}

.butterBowl-banner-detail .banner-detail-inner .butterBowl-banner-title {
    color: #ffbf0f;
    font-size: 70px;
    font-weight: 700;
    line-height: 75px;
}

.banner-detail-inner  {
	text-align: center;
}

.butterBowl-banner-1 .butterBowl-banner-detail .banner-detail-inner .butterBowl-banner-title {
    font-style: italic;
}

.butterBowl-banner-detail .banner-detail-inner span.slogan {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 0;
}


.butterBowl-banner-detail .banner-detail-inner span.offer {
    color: #fff;
    display: inline-block;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    margin-top: 15px;
}

.slogan:before {
    background-color: #ff3030;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.slogan:after {
    background-color: #ff3030;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 60px;
}
