/* - Footer Style  //---------------- */ 

.footer {
    background: #fafafa;
}
.footer, .footer a, .footer p {
    color: #878787;
}
.footer a:hover {
    color: #ff3030;
}
.footer-middle .f-logo {
    margin-bottom: 20px;
}

.footer-middle {
    padding: 50px 0;
}

ul.social-icon li {
    display: inline-block;
}

ul.social-icon li i.fa {
    color: #ff3030;
    font-size: 22px;
    padding: 0 15px;
    text-align: center;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.footer_social{
    text-align: right;
}

ul.social-icon li i.fa.fa-facebook:hover {
    color: #3b5998;
}
ul.social-icon li i.fa.fa-twitter:hover {
    color: #1dcaff;
}
ul.social-icon li i.fa.fa-linkedin:hover {
    color: #0077b5;
}
ul.social-icon li i.fa.fa-rss:hover {
    color: #ff6600;
}
ul.social-icon li i.fa.fa-pinterest:hover {
    color: #c8232c;
}

.footer-static-block .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
}

.footer .title > span {
    border-bottom: 2px solid #ff3030;
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 50px;
}

.footer-static-block ul.address-footer li {
    margin-bottom: 0;
}

.footer-static-block ul li {
    padding: 6px 0;
}
.footer-static-block ul li:first-child {
    padding-top: 0;
}
.footer-static-block ul li:last-child {
    padding-bottom: 0;
}
.footer hr {
    border-top: 1px solid #e1e1e1;
}
.footer-static-block li i.fa {
    float: left;
    font-size: 16px;
    color: #ff3030;
    margin-top: 5px;
}
.footer-static-block li p {
    margin-left: 25px;
    margin-bottom: 15px;
}

.footer-bottom .site-link li {
    display: inline-block;
}
.footer-bottom .site-link li a {
    padding: 0 10px;
}
.footer-bottom .site-link li:first-child a {
    padding-left: 0;
}
.footer-bottom .site-link li:last-child a {
    padding-right: 0;
}

.butterBowl-payment-icon {
    text-align: center;
    padding: 2rem;
}

.payment ul li {
    display: inline-block;
    padding: 0 10px;
}
.payment ul li a {
    display: inline-block;
}

.butterBowl-footer-logo {
   width: 150px;
}

.butterBowl-social > div {
    display: inline-block;
}