
/* - Typography Style  //---------------- */

.slogan:before {
    background-color: #e79327; /* - sass variable secondary color */ 
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.slogan:after {
    background-color: #e79327; /* - sass variable secondary color */ 
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 60px;
}

.butterBowl-product-title {
    color: #1b2839;
    font-size: 16px;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
}

.butterBowl-description {
    margin-top: 1rem;
}

.butterBowl-product-price {
    text-decoration: line-through;
    font-weight: 400;
    color: #878787;
}

.butterBowl-ingredients {
    list-style: initial;
    padding-bottom: 2rem;
    margin-left: 1rem;
}
.butterBowl-ingredients > ul {
    margin-left: 0rem;
}
.butterBowl-product-subtitle {
    color: #878787;
}

.title {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

.title > span {
    border-bottom: 2px solid #ff3030;
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 50px;
}

h1 {
	color: #1b2839;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h1 {
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 40px;
}

.header-bottom .help-num {
    color: #ffffff;
    padding: 15px 0;
}


